body {
    background-color: black;
    background-image: url("images/CoverBanner.png");
    background-repeat: no-repeat ;
    background-size: cover;
    color: white
}

h1 {
    text-align : center;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

form {
    border: 5px, solid, rgb(106, 192, 69);
    width: 500px;
    padding: 50px;
    margin-left: 200px;
    font-size: 15px;
    left: 400px;
    font-size: 20px;
    
}

input {
    height: 20px;
    
}

#pLogin {
    font-size: 25px;
    color: greenyellow
}


#loginButton {
    margin-right: 10px;
    font-size: 20px;
}


#loginButton:hover {
    background-color: greenyellow;
    

}



